.content-author {
  .author__backbar {
    border-top: 1px solid $alto;
    border-bottom: 1px solid $alto;
    padding: 30px 0;
    margin-bottom: 60px;

    .backbar__link {
      color: $sand-dune;
    }
  }
  .author__profile {
    margin-bottom: 30px;

    @media (min-width: $bp-768) {
      margin-bottom: 100px;
    }

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;

      @media (min-width: $bp-768) {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
      }

      .author__image {
        width: 100%;
        margin-bottom: 0;

        @media (min-width: $bp-768) {
          padding-right: 60px;
        }

        .author__img {
          width: 100%;
          margin: 0 auto;
        }
      }

      .author__content {
        width: 100%;

        .author__title {
          margin-bottom: 10px;

          @media (min-width: $bp-768) {
            margin-bottom: 20px;
          }
        }
      }
    }
  }

  .recent-posts {
    background-color: $solitaire;
  }
}
